<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cabletech.res.mapper.common.MainTenceMapper">
	<delete id="deleteByMaintenceAndRsType" parameterType="hashmap">
		delete from RES_RESOURCETYPE where xtbh = #{maintenceid,jdbcType=VARCHAR} 
		and RESOURCE_TYPE = #{type,jdbcType=VARCHAR} and BUSINESS_TYPE=#{businessType,jdbcType=VARCHAR}
	</delete>
	<delete id="delete" parameterType="hashmap">
		delete from RES_RESOURCETYPE where xtbh = #{maintenceid,jdbcType=VARCHAR} 
		and RESOURCE_TYPE = #{type,jdbcType=VARCHAR} and BUSINESS_TYPE=#{businessType,jdbcType=VARCHAR}
	</delete>
	<insert id="save" parameterType="hashmap">
		insert into RES_RESOURCETYPE
		  (xtbh, RESOURCE_TYPE,BUSINESS_TYPE)
		values
		  (#{maintenceid,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},#{businessType,jdbcType=VARCHAR})
	</insert>
	
</mapper>